*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body{
    background-color: black;
}



/* sezione nav */
nav{
    position: fixed;
    bottom: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    width: 100%;

    color: white;
    background-color: #222222;
}

.menu{
    display: flex;
    /* align-items: center; */
    gap: 10px;

    padding: 10px;
}

.menu .settings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu i{
    text-align: center;

    font-size: 22px;
}

.menu .description{
    font-size: 13px;
}

#exit{
    display: flex;
    align-items: center;

    color: red;
    background-color: #4A4A4A;
}
/* fine sezione nav */



/* sezione main */
main{
    position: relative;

    padding: 50px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5px;
}

main .view{
    display: flex;
    gap: 10px;

    position: absolute;
    top: 0;
    right: 0;

    font-size: 10px;

    color: white;
}

.view > *{
    padding: 5px;

    border-radius: 10px;

    background-color: rgba(118, 113, 113, 0.7);
}

main .card-container{
    position: relative;

    width: calc(100% / 7 - 5px / 7 * 7);
}

img{
    display: block;

    width: 100%;
}

.user{
    display: flex;
    gap: 10px;

    position: absolute;
    bottom: 0;
    left: 0;

    color: white;
    background-color: rgba(118, 113, 113, 0.7);
}
/* fine sezione main */



